.events-workshops {
  display: flex;
  justify-content: space-between;
  padding: 3px 0 0;
  background-color: transparent;
  box-shadow: none;
}

.events-workshops > :not(:last-child) {
  margin-bottom: 0;
}