* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'SFDregular', Arial, Helvetica, sans-serif;
  color: #555;
}

button {
  border: none;
  background-color: transparent;
}

button:focus {
  outline: none;
}

.hidden {
  display: none !important;
}

.content {
  width: 1200px;
  margin: 0 auto;
}
