.icon {
  width: 18px;
  height: 18px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-facebook {
  background-image: url(./images/ic-facebook.svg);
}

.icon-google {
  background-image: url(./images/ic-google.svg);
}

.icon-google-plus {
  background-image: url(./images/ic-g+.svg);
}

.icon-twitter {
  background-image: url(./images/ic-twitter.svg);
}

.icon-linkedin {
  background-image: url(./images/ic-linkedin.svg);
}

.icon-telegram {
  background-image: url(./images/ic-telegram.svg);
}

.icon-medium {
  background-image: url(./images/ic-medium.svg);
}

.icon-clock {
  background-image: url(./images/clock.svg);
}

.icon-plus-outlined {
  background-image: url(./images/ic-plus.svg);
}

.icon-plus {
  background-image: url(./images/plus-cross.svg);
}

.icon-tool {
  background-image: url(./images/ic-settings.svg);
}