.base-table {
  width: 100%;
  padding-bottom: 25px;
  border-bottom: 1px solid #f7f8fb;
  font-size: 12px;
}

.base-table__head-cell {
  padding-bottom: 10px;
  border-bottom: 1px solid #f7f8fb;
  text-align: left;
  font-size: 11px;
  color: #9da6bf;
  font-weight: 300;
}