.main-header {
  display: flex;
  justify-content: flex-end;

  padding: 0 138px;
  width: 100vw;

  background-color: #FFFFFF;

  .main-header__menu {
    display: flex;
    align-items: stretch;
    list-style: none;
  }
  
  .main-header__logo {
    padding: 16px 0 15px;
    font-family: 'SFDmedium', Arial, Helvetica, sans-serif;
  }
}