.drop-menu {
  position: absolute;
  top: 50px;
  right: -5px;
  z-index: 10;

  display: flex;
  flex-direction: column;
  padding: 22px 22px 16px;
  border-radius: 10px;

  box-shadow: 0 3px 6px 0 #E1E3ED;
  background-color: #fff;

  &::before {
    position: absolute;
    bottom: 100%;
    right: 5px;

    content: "";
    display: block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #FFFFFF;
  }

  .drop-menu__link--wrapper:not(:last-child) {
    margin-bottom: 10px;
  }

  .drop-menu__menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    text-decoration: none;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    & > p {
      padding-bottom: 4px;

      color: #2B3F66;
      font-size: 14px;
    }
  }

  .drop-menu__menu-icon {
    width: 14px;
    margin-left: 14px;
  }
}