.change-password {

  .change-password__btn--wrapper {
    display: flex;
    justify-content: flex-end;

    .change-password__save-btn {
      border-radius: 20px;
      padding: 6px 26px;
      margin-top: 32px;
  
      background-color: #7297FF;
      box-shadow: 0 2px 6px 0 #7297FF;
  
      color: #FFFFFF;
      font-size: 11px;

      cursor: pointer;
    }
  }

  .change-password__title {
    margin-bottom: 17px;

    font-weight: normal;
    color: #9DA6BF;
    font-size: 14px;
  }

  .change-password__list {
    border-radius: 10px;
    padding: 12px 40px 34px;
    background-color: #fff;
    box-shadow: 0 3px 8px 0 #E1E3ED;

    .change-password__input {
      padding: 8px 16px;
      width: 100%;
      border-radius: 20px;
      border: 1px solid #F1F3F9;

      &::placeholder {
        color: #D2D8EA;
        opacity: 1;
      }
      
      &:-ms-input-placeholder {
        color: #D2D8EA;
      }
      
      &::-ms-input-placeholder {
        color: #D2D8EA;
      }
    }
  }
}