.main-page {
  width: 100vw;
  min-height: 100vh;
  background-color: #a5c9e2;
  background-image: url('../../../public/images/auth_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}