.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 8px 0 #E1E3ED;

  .user-card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 15px;
    width: 100%;

    .user-card__image-wrapper {
      overflow: hidden;
      width: 75px;
      height: 75px;
      border-radius: 50%;
      margin-bottom: 13px;

      background-color: #F0F1F4;
      background-image: url(../../../public/images/camera.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 22px;
      box-shadow: 0 2px 5px 0 rgba($color: #A2A3A8, $alpha: 0.42);

      img {
        max-width: 100%;
      }
    }

    .user-card__upload-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;

      border-radius: 20px;
      border: 1px solid #44CCB5;
      box-shadow: 0 2px 4px 0 rgba($color: #7297FF, $alpha: 0.4);
      padding: 6px 16px;
      margin-bottom: 20px;

      background-color: transparent;

      font-family: 'SFDmedium', Arial, Helvetica, sans-serif;
      font-size: 11px;
      color: #44CCB5;
    }

    .user-card__verify-btn {
      background-color: #44CCB5;
      box-shadow: 0 2px 6px 0 #44CCB5;
      padding: 8px 19px;
      margin-top: 15px;
      font-size: 14px;
    }

    .user-card__name {
      margin-bottom: 10px;

      font-size: 16px;
      color: #253962;
    }

    .user-card__prof {
      margin-bottom: 3px;

      font-size: 14px;
      color: #253962;
    }

    .user-card__org {
      margin-bottom: 10px;
    
      font-size: 11px;
      color: #7297FF
    }

    .user-card__addres {
      padding-left: 20px;
      color: #9DA6BF;
      font-size: 12px;
      background-image: url(../../../public/images/place.svg);
      background-repeat: no-repeat;
      background-position: 2% center;
    }
  }

  .user-card__sub-info {
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    width: 100%;
    margin-top: 10px;
    border-top: 1px solid #E7E9F8;

    .user-card__sub-info__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;

      padding: 15px 0 10px;

      font-size: 12px;
      color: #9DA6BF;

      &:first-child {
        border-right: 1px solid #E7E9F8;
      }

      .number {
        font-size: 16px;
        color: #253962;
        font-weight: bold;
      }
    }
  }
}