.form-save-btn {
  border-radius: 20px;
  padding: 6px 26px;
  margin-top: 32px;
  margin-left: 13px;

  background-color: #7297FF;
  box-shadow: 0 2px 6px 0 #7297FF;

  color: #FFFFFF;
  font-size: 11px;

  cursor: pointer;
}